Package: diaspora
Version: 0.5.1.1-1
Architecture: all
Maintainer: Akhil Gangavrapu <akhil.rgukt976@gmail.com>
Installed-Size: 32
Depends: build-essential, git, curl, imagemagick, libmagickwand-dev, nodejs, redis-server, libcurl4-openssl-dev, libxml2-dev, libxslt-dev, libpq-dev, libreadline6-dev, libyaml-dev, libsqlite3-dev, sqlite3, libgdbm-dev, libncurses5-dev, bison, libffi-dev, libssl-dev, postgresql, gawk, autoconf, automake, mysql-client, libmysqlclient-dev
Section: web
Priority: optional
Homepage: https://diasporafoundation.org/
Description: Distributed social network diaspora pod creation
 Diaspora (currently styled diaspora* and formerly styled DIASPORA*) is a free
 personal web server that implements a distributed social networking service.
 Installations of the software form nodes (termed "pods") which make up the
 distributed Diaspora social network.
 .
 Diaspora is intended to address privacy concerns related to centralized
 social networks by allowing users to set up their own server (or "pod") to
 host content; pods can then interact to share status updates, photographs,
 and other social data. It allows its users to host their data with a
 traditional web host, a cloud-based host, an ISP, or a friend. The framework,
 which is being built on Ruby on Rails, is free software and can be
 experimented with by external developers.
 .
 Learn more about Diaspora at http://diasporafoundation.org
